@font-face {
  font-family: PressStart2P;
  font-weight: 400;
  font-display: swap;
  src: local("Press Start 2P"),
    url("./PressStart2P-Regular.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("./Inter-Variable.woff2") format("woff2 supports variations"),
    url("./Inter-Variable.woff2") format("woff2-variations");
  font-weight: 400 800;
}
